# Directories
.vs/
Binaries/
Docs/html
Docs/latex
Docs/rtf

Editor/Logs
packages/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
Makefile
*.licenseheader
*.html
*.latex
packages.config

# Exclude
!Vendor/Binaries

Assets/Meshes
*.exe
*.ini
