[submodule "Core/Vendor/GLFW"]
	path = Core/Vendor/GLFW
	url = https://github.com/ZaroDev/glfw.git
	ignore = dirty
[submodule "doxygen-awesome-css"]
	path = Docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
	ignore = dirty
[submodule "Core/Vendor/spdlog"]
	path = Core/Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
	ignore = dirty
[submodule "Editor/Vendor/ImGui"]
	path = Editor/Vendor/ImGui
	url = https://github.com/ZaroDev/imgui.git
	branch = docking
	ignore = dirty
[submodule "Core/Vendor/assimp"]
	path = Core/Vendor/assimp
	url = https://github.com/ZaroDev/assimp.git
	ignore = dirty
